body{
background:#0a0a0a;
color:#00ffcc;
font-family:monospace;
text-align:center;
padding-top:100px;
}

button{
padding:12px 30px;
background:#111;
color:#00ffcc;
border:2px solid #00ffcc;
cursor:pointer;
}

button:hover{
background:#00ffcc;
color:black;
}

input{
padding:10px;
background:#111;
color:#00ffcc;
border:1px solid #00ffcc;
}